* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

html {
  background-color: #ffffff;
  font-family: "Libre Baskerville", serif;
}

header {
  width: 100vw;
  height: 10em;
}
header nav {
  position: absolute;
  width: 95%;
  height: 62px;
  left: 40px;
  top: 40px;
}
header nav h1 {
  position: absolute;
  left: 0%;
  right: 87.53%;
  top: 0%;
  bottom: 0%;
  color: #000000;
  font-weight: bolder;
  font-size: 44px;
  line-height: 45px;
}
header nav h4 {
  position: absolute;
  height: 15px;
  left: 82.35%;
  right: 0%;
  top: calc(50% - 7.5px - 0.5px);
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 2.57143px;
  color: #7d7d7d;
}
header hr {
  position: absolute;
  width: 95vw;
  height: 1px;
  left: 40px;
  top: 128px;
  background: #e5e5e5;
}

.images-section {
  display: flex;
  width: 100vw;
  height: 200vh;
}
.images-section .col-1 {
  display: flex;
  flex-direction: column;
  width: 25vw;
  margin-left: 5px;
}
.images-section .col-1 .row1 {
  width: 100%;
  height: 40vh;
}
.images-section .col-1 .row-2 {
  width: 100%;
  height: 50vh;
}
.images-section .col-1 .row-3 {
  width: 100%;
  height: 70vh;
}
.images-section .col-1 .row-4 {
  width: 100%;
  height: 40vh;
}
.images-section .col-2 {
  display: flex;
  flex-direction: column;
  width: 25vw;
}
.images-section .col-2 .row-1 {
  width: 100%;
  height: 70vh;
}
.images-section .col-2 .row-2 {
  width: 100%;
  height: 40vh;
}
.images-section .col-2 .row-3 {
  width: 100%;
  height: 40vh;
}
.images-section .col-2 .row-4 {
  width: 100%;
  height: 50vh;
}
.images-section .col-3 {
  display: flex;
  flex-direction: column;
  width: 25vw;
}
.images-section .col-3 .row-1 {
  width: 100%;
  height: 44vh;
}
.images-section .col-3 .row-2 {
  width: 100%;
  height: 78vh;
}
.images-section .col-3 .row-3 {
  width: 100%;
  height: 78vh;
}
.images-section .col-4 {
  display: flex;
  flex-direction: column;
  width: 25vw;
  margin-right: 1em;
}
.images-section .row-1 {
  width: 100%;
  height: 40vh;
}
.images-section .row-2 {
  width: 100%;
  height: 40vh;
}
.images-section .row-3 {
  width: 100%;
  height: 70vh;
}
.images-section .row-1 {
  width: 100%;
  height: 50vh;
}
.images-section .image-text {
  position: absolute;
  width: 20vw;
  height: 6em;
  margin-left: 2%;
  margin-top: 13%;
}
.images-section .image-text .heading {
  position: absolute;
  font-size: 24px;
  font-weight: bold;
  color: #ffffff;
  margin-left: 1em;
  height: 60px;
  line-height: 30px;
}
.images-section .image-text .subhead {
  position: absolute;
  font-size: 13px;
  margin-left: 1.8em;
  color: #ffffff;
  font-size: 13px;
  line-height: 16px;
  margin-block: 4em;
  mix-blend-mode: normal;
  opacity: 0.75;
}
.images-section .grid {
  width: 90%;
  height: 90%;
  display: block;
  margin: auto;
  object-fit: cover;
  transition: 0.5s ease-out;
  transition-delay: 150ms;
}
.images-section .grid:hover {
  transform: translateY(20px);
}
.images-section .col-1 .row-2 .subhead {
  margin-block: 5rem;
}
.images-section .col-1 .row-3 .image-text {
  margin-top: 20%;
}
.images-section .col-1 .row-3 .image-text .heading {
  margin-block: 1rem;
}
.images-section .col-1 .row-3 .image-text .subhead {
  margin-block: 5rem;
}
.images-section .col-1 .row-3 .image-text .grid {
  width: 90%;
  height: 92%;
  display: block;
  margin: auto;
  object-fit: cover;
}
.images-section .col-1 .row-4 .image-text {
  margin-top: 7em;
}
.images-section .col-1 .row-4 .image-text .subhead {
  margin-block: 6em;
}
.images-section .col-2 .row-1 .image-text {
  margin-top: 22%;
}
.images-section .col-2 .row-1 .image-text .subhead {
  margin-block: 6em;
}
.images-section .col-2 .row-1 .image-text .grid {
  height: 94%;
}
.images-section .col-2 .row-2 .image-text {
  margin-top: 9%;
}
.images-section .col-2 .row-2 .image-text .subhead {
  margin-block: 6em;
}
.images-section .col-2 .row-3 .image-text {
  margin-top: 9%;
}
.images-section .col-2 .row-3 .image-text .grid {
  height: 92.4%;
}

.col-3 .row-2 .image-text {
  margin-top: 24%;
}
.col-3 .row-2 .image-text .subhead {
  margin-block: 6em;
}
.col-3 .row-3 .image-text {
  margin-top: 26%;
}
.col-3 .row-3 .image-text .grid {
  height: 95%;
}
.col-3 .grid {
  height: 94%;
}

.col-4 .row-2 .image-text {
  margin-top: 10%;
}
.col-4 .row-3 .image-text {
  margin-top: 20%;
}
.col-4 .row-3 .image-text .subhead {
  margin-block: 6em;
}
.col-4 .row-3 .grid {
  margin-top: 10px;
}

@media (max-width: 800px) {
  header nav {
    position: relative;
    width: 100vw;
    margin-right: 10em;
    right: 20px;
  }
  header nav h1 {
    width: 4em;
  }
  header nav h4 {
    position: relative;
    width: 15em;
    margin-right: 4px;
    left: 65%;
  }
  header hr {
    width: 100vw;
    left: 0px;
  }

  .images-section {
    flex-wrap: wrap;
  }
  .images-section .col-1,
.images-section .col-2,
.images-section .col-3,
.images-section .col-4 {
    width: 48vw;
    position: relative;
  }
  .images-section .image-text {
    overflow: scroll;
    margin-block: 13em;
    width: 40vw;
  }
  .images-section .image-text .heading {
    overflow: scroll;
  }
  .images-section .image-text .subhead {
    overflow: scroll;
  }
}
@media (max-width: 480px) {
  .images-section {
    flex-direction: column;
    height: auto;
  }
  .images-section .col-1,
.images-section .col-2,
.images-section .col-3,
.images-section .col-4 {
    width: 100vw;
    position: relative;
  }
  .images-section .image-text {
    width: 80vw;
  }
}

/*# sourceMappingURL=style.css.map */
