* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}
html {
  background-color: #ffffff;
  font-family: "Libre Baskerville", serif;
}
header {
  width: 100vw;
  height: 10em;
  nav {
    position: absolute;
    width: 95%;
    height: 62px;
    left: 40px;
    top: 40px;

    h1 {
      position: absolute;
      left: 0%;
      right: 87.53%;
      top: 0%;
      bottom: 0%;
      color: #000000;
      font-weight: bolder;
      font-size: 44px;
      line-height: 45px;
      width: 5em;
    }
    h4 {
      position: absolute;
      height: 15px;
      left: 82.35%;
      right: 0%;
      top: calc(50% - 15px / 2 - 0.5px);
      font-style: normal;
      font-weight: bold;
      font-size: 12px;
      line-height: 15px;
      letter-spacing: 2.57143px;
      color: #7d7d7d;
    }
  }
  hr {
    position: absolute;
    width: 95vw;
    height: 1px;
    left: 40px;
    top: 128px;
    background: #e5e5e5;
  }
}

$col-length: 25vw;
$row-width: 100%;
$subhead-1: 24px;
$subhead-2: 13px;
$head1-lh: 30px;
$head2-lh: 17px;
.images-section {
  display: flex;
  width: 100vw;
  height: 200vh;
  .col-1 {
    display: flex;
    flex-direction: column;
    width: $col-length;
    margin-left: 5px;
    .row1 {
      width: $row-width;
      height: 40vh;
    }
    .row-2 {
      width: $row-width;
      height: 50vh;
    }
    .row-3 {
      width: $row-width;
      height: 70vh;
    }
    .row-4 {
      width: $row-width;
      height: 40vh;
    }
  }
  .col-2 {
    display: flex;
    flex-direction: column;
    width: $col-length;
    .row-1 {
      width: $row-width;
      height: 70vh;
    }
    .row-2 {
      width: $row-width;
      height: 40vh;
    }
    .row-3 {
      width: $row-width;
      height: 40vh;
    }
    .row-4 {
      width: $row-width;
      height: 50vh;
    }
  }
  .col-3 {
    display: flex;
    flex-direction: column;
    width: $col-length;
    .row-1 {
      width: $row-width;
      height: 44vh;
    }
    .row-2 {
      width: $row-width;
      height: 78vh;
    }
    .row-3 {
      width: $row-width;
      height: 78vh;
    }
  }
  .col-4 {
    display: flex;
    flex-direction: column;
    width: $col-length;
    margin-right: 1em;
  }
  .row-1 {
    width: $row-width;
    height: 40vh;
  }
  .row-2 {
    width: $row-width;
    height: 40vh;
  }
  .row-3 {
    width: $row-width;
    height: 70vh;
  }
  .row-1 {
    width: $row-width;
    height: 50vh;
  }
  .image-text {
    position: absolute;
    width: 20vw;
    height: 6em;
    margin-left: 2%;
    margin-top: 15%;

    .heading {
      position: absolute;
      font-size: $subhead-1;
      font-weight: bold;
      color: #ffffff;
      margin-left: 1em;
      height: 60px;
      line-height: $head1-lh;
    }
    .subhead {
      position: absolute;
      font-size: $subhead-2;
      margin-left: 1.8em;
      color: #ffffff;
      font-size: 13px;
      line-height: 16px;
      margin-block: 2.8em;
      mix-blend-mode: normal;
      opacity: 0.75;
    }
  }

  .grid {
    width: 90%;
    height: 90%;
    display: block;
    margin: auto;
    object-fit: cover;
    transition: 0.5s ease-out;
    transition-delay: 150ms;
  }
  .grid:hover {
    transform: translateY(20px);
  }

  .col-1 {
    .row-2 {
      .image-text {

      margin-top: 12.5em;
      .subhead {
        margin-block: 4rem;
      }
    }
    }
    .row-3 {
      .image-text {
        margin-top: 15em;
        .heading {
          margin-block: 1rem;
        }
        .subhead {
          margin-block: 3.3rem;
        }
        .grid {
          width: 90%;
          height: 92%;
          display: block;
          margin: auto;
          object-fit: cover;
        }
      }
    }
    .row-4 {
      .image-text {
        margin-top: 8em;
        .subhead {
          margin-block: 5em;
        }
      }
    }
  }
  .col-2 {
    .row-1 {
      .image-text {
        margin-top: 24%;
        .subhead {
          margin-block: 5em;
        }
        .grid {
          height: 94%;
        }
      }
    }
    .row-2 {
      .image-text {
        margin-top: 9%;
        .subhead {
          margin-block: 6em;
        }
      }
    }
    .row-3 {
      .image-text {
        margin-top: 13%;
        .grid {
          height: 92.4%;
        }
      }
    }
    .row-4 {
      .image-text {
        margin-top: 17.7%;
        // .grid {
        //   height: 92.4%;
        // }
      }
    }
  }
}
.col-3 {
  .row-2 {
    .image-text {
      margin-top: 24em;
      .subhead {
        margin-block: 3em;
      }
    }
  }
  .row-3 {
    .image-text {
      margin-top: 31.4%;
      .grid {
        height: 95%;
      }
    }
  }
  .grid {
    height: 94%;
  }
}
.col-4 {
  .row-1 {
    .image-text {
      margin-top: 16%;
    }
  }
  .row-2 {
    .image-text {
      margin-top: 12.4%;
    }
  }
  .row-3 {
    .image-text {
      margin-top: 21em;
      .subhead {
        margin-block: 3.2em;
      }
    }
    .grid {
      margin-top: 10px;
    }
  }
}

// Tablet Responsiveness
@media (max-width: 800px) {
  header {
    nav {
      position: relative;
      width: 100vw;
      margin-right: 10em;
      right: 20px;

      h1 {
        width: 4em;
      }
      h4 {
        position: relative;
        width: 15em;
        margin-right: 4px;
        left: 65%;
      }
    }
    hr {
      width: 100vw;
      left: 0px;
    }
  }
  .images-section {
    flex-wrap: wrap;
    .col-1,
    .col-2,
    .col-3,
    .col-4 {
      width: 48vw;
      position: relative;
    }
    .image-text {
      overflow: scroll;
      margin-block: 15em;
      width: 40vw;
      .heading {
        overflow: scroll;
      }
      .subhead {
        overflow: scroll;
      }
    }
    .col-1 {
      .row-1 {
        .image-text {
          margin-top: 16em;
        }
      }
      .row-3 {
        .image-text {
          margin-top: 23.5em;
        }
      }
      .row-4 {
        .image-text {
          margin-top: 11em;

          .subhead {
            margin-block: 5.5em;
          }
        }
      }
    }
    .col-2 {
      .row-1 {
        .subhead {
          margin-block: 4em;
        }
        .image-text {
          margin-top: 23em;
        }
      }
      .row-2 {
        .image-text {
          margin-top: 10em;
        }
      }
      .row-3 {
        .image-text {
          margin-top: 12em;
        }
      }
      .row-4 {
        height: 62.5vh;
        .image-text {
          margin-top: 21em;
        }
      }
    }
    .col-3 {
      .row-2 {
        .image-text {
          margin-top: 29em;
          .subhead {
            margin-block: 5.5em;
          }
        }
      }
      .row-3 {
        height: 83vh;
        .image-text {
          margin-top: 33em;
        }
      }
    }
    .col-4 {
      .row-1 {
        .image-text {
          margin-top: 16.5em;
        }
      }
      .row-2 {
        .image-text {
          margin-top: 12em;
        }
      }
      .row-3 {
        .image-text {
          margin-top: 25em;
        }
      }
      .row-4 {

        .grid {
          width: 90%;
          height: 94%;
      
        }
      }
    }
  }
}

@media (max-width: 480px) {
  header {
    nav {
      position: relative;
      width: 100vw;
      margin-right: 10em;
      right: 20px;

      h1 {
        width: 4em;
        font-size: 28px;
      }
      h4 {
        position: relative;
        width: 15em;
        margin-right: 4px;
        left: 40vw;
        font-size: 10px;
      }
    }
    hr {
      width: 100vw;
      left: 0px;
    }
  }
  .images-section {
    flex-direction: column;
    height: auto;
    .col-1,
    .col-2,
    .col-3,
    .col-4 {
      width: 100vw;
      position: relative;
    }
    .image-text {
      margin-block: 15em;
      width: 15em;
      .subhead {
        margin-block: 5em;
      }
    }
    .col-1 {
      .row-1 {
        .image-text {
          margin-top: 16em;
          .subhead {
            margin-block: 3.5em;
          }
        }
      }
      .row-3 {
        .image-text {
          margin-top: 23em;
          .subhead {
            margin-block: 6em;
          }
        }
      }
      .row-4 {
        .image-text {
        .subhead {
          margin-block: 5em;
        }
      }
      }
    }

    .col-2 {
      .row-1 {
        .image-text {
          margin-top: 23em;
        }
      }
      .row-2 {
        .image-text {
          margin-top: 11em;
          .subhead {
            margin-block: 6em;
          }
        }
      }
      .row-3 {
        .image-text {
          margin-top: 11em;
          .subhead {
            margin-block: 5em;
          }
        }
      }
      .row-4 {
        .image-text {
          margin-top: 20em;
          .subhead {
            margin-block: 5em;
          }
        }
      }
    }
  }
  .col-3 {
    .row-1 {
      .image-text {
        margin-top: 14.2em;
        .subhead {
          margin-block: 3em;
        }
      }
    }
    .row-2 {
      .image-text {
        margin-top: 32em;
        .subhead {
          margin-block: 5em;
        }
      }
    }
    .row-3 {
      .image-text {
        margin-top: 34em;
        .subhead {
          margin-block: 3.4em;
        }
        .grid {
          height: 95%;
        }
      }
    }
    .grid {
      height: 94%;
    }
  }
  .col-4 {
    .row-1 {
      .image-text {
        margin-top: 16.7em;
        .subhead {
          margin-block: 5em;
        }
      }
    }
    .row-2 {
      .image-text {
        margin-top: 12.4em;
        .subhead {
          margin-block: 5em;
        }
      }
    }
    .row-3 {
      .image-text {
        margin-top: 26.5em;
        .subhead {
          margin-block: 5em;
        }
      }
      .grid {
        margin-top: 10px;
      }
    }
    .row-4 {
      .image-text {
        margin-top: 20em;
        .subhead {
          margin-block: 3.5em;
        }
      }
    }
  }
}
